Repository 2024-Summer-BootCamp-TeamG/Team, pull requests merged in 2024-07, with the labels that each got.

#6 [BE/feat/#5] Initial Setting
  .gitignore
  backend/Dockerfile
  backend/albums/__init__.py
  backend/albums/admin.py
  backend/albums/apps.py
  backend/albums/migrations/__init__.py
  backend/albums/models.py
  backend/albums/tests.py
  backend/albums/views.py
  backend/backend/__init__.py
  backend/backend/asgi.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/backend/wsgi.py
  backend/manage.py
  backend/requirements.txt
  backend/users/__init__.py
  backend/users/admin.py
  backend/users/apps.py
  backend/users/migrations/__init__.py
  backend/users/models.py
  backend/users/tests.py
  backend/users/views.py
  docker-compose.yml
Labels: backend, chore

#8 프론트엔드 초기세팅
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/README.md
  frontend/global.css
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/components/WhiteButton.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: frontend, chore

#12 [BE/feat/#9] 회원가입 구현 완료
  backend/backend/settings.py
  backend/backend/urls.py
  backend/requirements.txt
  backend/users/migrations/0001_initial.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/urls.py
  backend/users/views.py
  docker-compose.yml
Labels: backend, feat

#15 [BE/feat/#14] 회원가입 수정. 로그인,로그아웃 구현 완료
  backend/backend/settings.py
  backend/requirements.txt
  backend/users/migrations/0001_initial.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/urls.py
  backend/users/views.py
Labels: backend, fix, feat

#17 [BE/etc/#16] nickname 삭제
  backend/users/migrations/0001_initial.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/views.py
Labels: backend, fix

#23 [BE/feat/#18] 앨범 커버 제작,저장
  backend/backend/settings.py
  backend/backend/urls.py
  backend/prompts/__init__.py
  backend/prompts/admin.py
  backend/prompts/apps.py
  backend/prompts/forms.py
  backend/prompts/migrations/0001_initial.py
  backend/prompts/migrations/__init__.py
  backend/prompts/models.py
  backend/prompts/serializers.py
  backend/prompts/tests.py
  backend/prompts/urls.py
  backend/prompts/utils.py
  backend/prompts/views.py
  backend/requirements.txt
  backend/users/migrations/0001_initial.py
Labels: backend, feat

#27 [BE/fix/#26] swagger 오류 해결
  backend/albums/middleware.py
  backend/albums/urls.py
  backend/albums/views.py
  backend/backend/settings.py
Labels: fix

#28 [FE/design/#20] Tailwind 세팅 완료
  frontend/global.css
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/assets/SmallGlass.png
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/TextGenerationPage.tsx
  frontend/tailwind.config.js
Labels: frontend, fix

#33 [BE/feat/#18] 프롬프트수정
  backend/prompts/models.py
  backend/prompts/utils.py
  backend/prompts/views.py
  backend/requirements.txt
Labels: backend, feat

#34 [BE/feat/#32] 충돌 오류 수정 완료
  backend/backend/settings.py
Labels: bug, backend

#36 [BE/feat/#35] s3 업로드 구현
  backend/backend/settings.py
  backend/backend/urls.py
  backend/prompts/serializers.py
  backend/prompts/views.py
Labels: backend, feat

#40 [FE/feat/#7] 앨범 커버, 음악 생성 페이지 퍼블리싱
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/Album.png
  frontend/src/assets/Bar.svg
  frontend/src/assets/Circle/DeepPurpleCircle.png
  frontend/src/assets/Circle/MintCircle.svg
  frontend/src/assets/Circle/MintCircleSm.svg
  frontend/src/assets/Circle/PurpleCircle.svg
  frontend/src/assets/Circle/PurpleCircleSm.png
  frontend/src/assets/Circle/PurpleTransCircle.svg
  frontend/src/assets/HomeIcon.svg
  frontend/src/assets/MenuIcon.svg
  frontend/src/assets/MusicNote/FullNote1.svg
  frontend/src/assets/MusicNote/FullNote2.svg
  frontend/src/assets/MusicNote/FullNote3.svg
  frontend/src/assets/MusicNote/FullNote4.svg
  frontend/src/assets/MusicNote/FullNote5.svg
  frontend/src/assets/MusicNote/FullNote6.svg
  frontend/src/assets/MusicNote/FullNote7.svg
  frontend/src/assets/Picture.png
  frontend/src/assets/PlayButton.svg
  frontend/src/assets/SIMPLAYLogo.svg
  frontend/src/assets/SignoutIcon.svg
  frontend/src/components/Background.tsx
  frontend/src/components/DarkRoundButton.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/index.css
  frontend/src/pages/MusicCoverGenerationPage.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/tailwind.config.js
Labels: frontend, design

#41 [BE/feat/#37]음악 생성, s3업로드 구현
  backend/backend/settings.py
  backend/prompts/migrations/0002_sunoclip.py
  backend/prompts/models.py
  backend/prompts/serializers.py
  backend/prompts/urls.py
  backend/prompts/views.py
  backend/requirements.txt
  docker-compose.yml
Labels: backend, feat

#42 이미지 분석 / 포스터 생성 기능 구현
  backend/albums/admin.py
  backend/albums/migrations/0001_initial.py
  backend/albums/migrations/0002_postergeneration_delete_album_delete_imageanalysis.py
  backend/albums/migrations/0002_rename_analysis_result_imageanalysis_image_analysis_and_more.py
  backend/albums/models.py
  backend/albums/tests.py
  backend/albums/urls.py
  backend/albums/views.py
  backend/backend/settings.py
  backend/requirements.txt
Labels: backend, feat

#44 [FE/design/#21] 초기 세팅 및 깃 연동
  frontend/src/pages/SignUpPage.tsx
Labels: frontend, design

#45 [FE/design/#21]로그인, 회원가입, 사진 업로드 퍼블리싱
  frontend/src/App.tsx
  frontend/src/pages/DragDrop.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/src/pages/SignUpPage.tsx
Labels: frontend, design

#47 [FE/design/#21]프론트 도커 세팅
  backend/Dockerfile
  backend/backend/settings.py
  backend/requirements.txt
  docker-compose.yml
Labels: frontend, design, feat

#50 [FE/design/#20] 텍스트 생성페이지 및 메인페이지 퍼블리싱
  backend/backend/settings.py
  backend/requirements.txt
  backend/users/views.py
  frontend/src/App.tsx
  frontend/src/assets/OriginPicture.png
  frontend/src/assets/SmallGlass.png
  frontend/src/pages/LogoMusicPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/TextGenerationPage.tsx
Labels: frontend, design

#52 [BE/feat/#51] 기능병합, 중간저장
  backend/prompts/views.py
Labels: backend, feat

#57 [FE/feat/#46]api연동
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/BusinessInputPage.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/src/pages/SignUpPage.tsx
Labels: frontend, feat

#59 [BE/feat/#56] 이미지분석, 포스터제작 수정
  backend/prompts/models.py
  backend/prompts/serializers.py
  backend/prompts/views.py
Labels: backend, fix

#60 [FE/feat/#49] 색상 선택 페이지 퍼블리싱 및 기능 구현
  frontend/src/App.tsx
  frontend/src/pages/ChooseColorPage.tsx
  frontend/src/pages/LogoMusicPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/TextGenerationPage.tsx
Labels: frontend, design, feat

#64 [BE/fix/#63] cm송 생성 구현
  backend/prompts/views.py
Labels: backend, fix

#67 [BE/feat/#65] 저장,삭제, s3 url 업로드
  backend/backend/settings.py
  backend/backend/urls.py
  backend/contents/__init__.py
  backend/contents/admin.py
  backend/contents/apps.py
  backend/contents/migrations/__init__.py
  backend/contents/models.py
  backend/contents/serializers.py
  backend/contents/tests.py
  backend/contents/urls.py
  backend/contents/views.py
  backend/prompts/views.py
Labels: bug, backend, feat

#70 [BE/feat/#68}목록조회 기능 구현
  backend/backend/settings.py
  backend/backend/urls.py
  backend/contents/migrations/0001_initial.py
  backend/contents/serializers.py
  backend/lists/__init__.py
  backend/lists/admin.py
  backend/lists/apps.py
  backend/lists/migrations/0001_initial.py
  backend/lists/migrations/__init__.py
  backend/lists/models.py
  backend/lists/serializers.py
  backend/lists/tests.py
  backend/lists/urls.py
  backend/lists/views.py
  backend/prompts/migrations/0001_initial.py
Labels: backend, feat

#72 [FE/feat/#54]스타일 선택 페이지 퍼블리싱
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/Album.svg
  frontend/src/assets/CloseIcon.svg
  frontend/src/assets/PauseButton.svg
  frontend/src/assets/UploadIcon.svg
  frontend/src/components/Background.tsx
  frontend/src/components/Blurtext.tsx
  frontend/src/components/MoveButton.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/StyleButton.tsx
  frontend/src/index.css
  frontend/src/pages/AlbumListPage.tsx
  frontend/src/pages/BusinessInputPage.tsx
  frontend/src/pages/Carousel.tsx
  frontend/src/pages/ChooseColorPage.tsx
  frontend/src/pages/Index/index.html
  frontend/src/pages/Index/script.js
  frontend/src/pages/Index/style.css
  frontend/src/pages/MusicCoverGenerationPage.tsx
  frontend/src/pages/PictureUploadPage.tsx
  frontend/src/pages/SelectStylePage.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/src/pages/TextGenerationPage.tsx
  frontend/src/pages/TextInputPage.tsx
  frontend/src/pages/style.scss
Labels: frontend, design, feat

#74 [BE/fix/#71] 오류 수정
  backend/backend/settings.py
  backend/contents/models.py
  backend/lists/admin.py
  backend/lists/migrations/0001_initial.py
  backend/lists/models.py
  backend/lists/serializers.py
  backend/lists/urls.py
  backend/lists/views.py
  backend/prompts/views.py
Labels: bug, backend

#76 [FE/feat/#55]비즈니스,텍스트 인풋 전역관리
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/src/pages/BusinessInputPage.tsx
  frontend/src/pages/TextInputPage.tsx
  frontend/src/recoil/BusinessInputAtom.ts
  frontend/src/recoil/TextInputAtom.ts
Labels: frontend, feat

#77 [BE/fix/#75] 모델수정, prompts까지 전부다 구현
  backend/backend/settings.py
  backend/contents/migrations/0001_initial.py
  backend/contents/migrations/0002_initial.py
  backend/contents/urls.py
  backend/lists/migrations/0001_initial.py
  backend/lists/migrations/0002_initial.py
  backend/prompts/forms.py
  backend/prompts/migrations/0001_initial.py
  backend/prompts/migrations/0002_initial.py
  backend/prompts/models.py
  backend/prompts/serializers.py
  backend/prompts/tests.py
  backend/prompts/urls.py
  backend/prompts/utils.py
  backend/prompts/views.py
  backend/users/migrations/0001_initial.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/urls.py
  backend/users/views.py
Labels: backend, fix

#80 [FE/feat/#61] 색상 선택페이지 퍼블리싱 및 기능구현
  frontend/public/audio.mp3
  frontend/public/audio3.mp3
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/Poster.png
  frontend/src/assets/TaehoLogo.png
  frontend/src/components/StyleButton2.tsx
  frontend/src/pages/ChooseColorPage.tsx
  frontend/src/pages/LogoMusicPage.tsx
  frontend/src/pages/SelectStylePage.tsx
Labels: frontend, design, feat

#86 [BE/fix/#85]prompts 버그수정
  backend/prompts/views.py
Labels: bug, backend

#88 [BE/fix/#87] 목록기능 수정완료
  backend/backend/settings.py
  backend/backend/urls.py
  backend/lists/migrations/__init__.py
  backend/lists/serializers.py
  backend/lists/urls.py
  backend/lists/views.py
  backend/promotions/__init__.py
  backend/promotions/admin.py
  backend/promotions/apps.py
  backend/promotions/migrations/__init__.py
  backend/promotions/models.py
  backend/promotions/serializers.py
  backend/promotions/urls.py
  backend/promotions/views.py
Labels: backend, fix

#89 [FE/design/#73] 사진 업로드 페이지 수정
  .DS_Store
  frontend/public/lego.mp3
  frontend/src/assets/Circle/PurpleCirclelg.png
  frontend/src/assets/legoposter.png
  frontend/src/assets/logo.png
  frontend/src/components/Background.tsx
  frontend/src/components/CustomCircle.tsx
  frontend/src/components/MoveButton.tsx
  frontend/src/fonts/Danjunghae.otf
  frontend/src/index.css
  frontend/src/pages/3d.css
  frontend/src/pages/3d/index.html
  frontend/src/pages/3d/style.css
  frontend/src/pages/3dPage.tsx
  frontend/src/pages/BusinessInputPage.tsx
  frontend/src/pages/ChooseColorPage.tsx
  frontend/src/pages/LogoMusicPage.tsx
  frontend/src/pages/PictureUploadPage.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/src/pages/TextInputPage.tsx
  frontend/src/recoil/BusinessInputAtom.ts
  frontend/tailwind.config.js
Labels: frontend, design, feat

#91 [FE/feat/#77]그림업로드 api 연동
  frontend/src/pages/PictureUploadPage.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/src/pages/SignUpPage.tsx
Labels: frontend, feat

#93 [FE/Feat/#81] 색상 선택페이지, 스타일 선택페이지 전역관리 완료
  frontend/src/components/MoveButton.tsx
  frontend/src/pages/ChooseColorPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/SelectStylePage.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/src/recoil/ChooseColorAtom.ts
  frontend/src/recoil/SelectStyleAtom.ts
Labels: frontend, feat

#98 [BE/feat/#97]url 추가
  backend/backend/settings.py
Labels: backend, feat

#99 수정 완료
  backend/backend/settings.py
Labels: backend, feat

#101 [BE/feat/#100]수정완료
  backend/backend/settings.py
Labels: backend, feat

#103 BE/fix/#102] Url 수정
  backend/backend/settings.py
Labels: backend, fix

#107 [Be/feat/#92] nginx 추가
  backend/backend/settings.py
  docker-compose.yml
  nginx/Dockerfile
  nginx/nginx.conf
Labels: backend, feat

#111 [BE/fix/#110]수정완료
  backend/backend/settings.py
Labels: backend, fix

#117 [BE/fix/#116settings.py수정완료.
  backend/backend/settings.py
Labels: backend, fix

#120 [BE/fix/#119] 배포 오류 수정(1)
  backend/backend/settings.py
Labels: backend, fix

#133 [BE/fix/#132] 오류수정
  backend/backend/settings.py
  backend/prompts/views.py
  backend/users/views.py
Labels: bug, backend

#134 [BE/fix/#132] 오류잡기 재업로드
  backend/backend/settings.py
Labels: backend, fix

#135 [FE/feat/#131] 배포 후 사진 업로드, 로고 생성 API 연동 완료
  backend/prompts/views.py
  frontend/src/pages/AlbumListPage.tsx
  frontend/src/pages/PictureUploadPage.tsx
  frontend/src/pages/SelectStylePage.tsx
  frontend/src/pages/SignInPage.tsx
Labels: frontend, fix

#137 [FE/feat/#131] push 에러 수정
  frontend/src/pages/BusinessInputPage.tsx
  frontend/src/pages/PictureUploadPage.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/src/pages/TextInputPage.tsx
Labels: frontend, bug, feat

#138 [FE/feat/#136]포스터 api 연동 및 로고뮤직페이지
  frontend/src/components/MoveButton.tsx
  frontend/src/pages/BusinessInputPage.tsx
  frontend/src/pages/LogoMusicPage.tsx
  frontend/src/pages/SelectStylePage.tsx
  frontend/src/pages/TextInputPage.tsx
Labels: frontend, feat

#143 [BE/feat/#141] user_id반환, 비동기처리 조회
  backend/backend/settings.py
  backend/prompts/tasks.py
  backend/prompts/urls.py
  backend/prompts/views.py
  backend/users/views.py
Labels: backend, feat

#145 [BE/fix/#144requirements수정 완료
  backend/requirements.txt
Labels: backend, fix

#147 [Fe/feat/#136]로딩창 기능구현
  .DS_Store
  frontend/src/App.css
  frontend/src/assets/Album1.png
  frontend/src/assets/Album2.png
  frontend/src/assets/Album4.png
  frontend/src/assets/Album5.png
  frontend/src/pages/DetailedInquiryPage.tsx
  frontend/src/pages/LogoMusicPage.tsx
  frontend/src/pages/PictureUploadPage.tsx
  frontend/src/pages/SelectStylePage.tsx
Labels: frontend, feat

#149 [BE/fix/#148]수정완료
  backend/backend/settings.py
Labels: backend, fix

#155 [BE/feat/#140]추가 완료
  backend/backend/settings.py
  backend/prompts/views.py
Labels: backend, feat

#161 [BE/fix/#160]수정완료
  backend/backend/settings.py
Labels: backend, fix

#163 [BE/fix/#162]수정완료
  nginx/nginx.conf
Labels: backend, fix

#165 [BE/fix/#164]수정완료
  backend/backend/settings.py
  nginx/nginx.conf
Labels: backend, fix

#168 [BE/feat/#167]https 설정
  nginx/nginx.conf
Labels: backend, feat

#173 [BE/fix/#172]수정완료
  docker-compose.yml
Labels: backend, fix

#174 [BE/feat/#169] 가사생성 api 구현완료
  backend/prompts/tasks.py
Labels: backend, feat

#176 [FE/feat/#150] 프론트엔드 빌드
  docker-compose.yml
  frontend/Dockerfile
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Background.tsx
  frontend/src/components/Background2.tsx
  frontend/src/components/DarkRoundButton.tsx
  frontend/src/components/LoadingModal.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/StyleButton.tsx
  frontend/src/fonts/Danjunghae.otf
  frontend/src/fonts/Danjunghae.ttf
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/AlbumListPage.tsx
  frontend/src/pages/BusinessInputPage.tsx
  frontend/src/pages/Carousel.tsx
  frontend/src/pages/ChooseColorPage.tsx
  frontend/src/pages/ChooseStylePage.tsx
  frontend/src/pages/DetailedInquiryPage.tsx
  frontend/src/pages/DragDrop.tsx
  frontend/src/pages/LogoMusicPage.tsx
  frontend/src/pages/MainPage.scss
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/MusicCoverGenerationPage.tsx
  frontend/src/pages/PictureUploadPage.tsx
  frontend/src/pages/SelectStylePage.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/src/pages/TextGenerationPage.tsx
  frontend/src/pages/TextInputPage.tsx
  frontend/src/utils/csrf.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: frontend, feat

#177 [BE/feat/#169] suno수정,프로메테우스,그라파나 완료
  .DS_Store
  backend/prompts/tasks.py
  docker-compose.yml
  grafana/data/alerting/1/__default__.tmpl
  grafana/data/grafana.db
  prometheus/prometheus.yml
Labels: bug, backend

#181 [FE/feat/#150] 프론트 도커 올리기
  nginx/nginx.conf
Labels: frontend, feat

#182 [BE/feat/#179]https수정완료
  frontend/package-lock.json
  frontend/src/pages/DetailedInquiryPage.tsx
  frontend/src/pages/PictureUploadPage.tsx
  frontend/src/pages/SelectStylePage.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/src/pages/SignUpPage.tsx
  grafana/data/grafana.db
Labels: frontend, backend, feat

#184 [BE/fix/#183] 수정완료
  backend/prompts/views.py
  grafana/data/grafana.db
Labels: backend, fix

#185 [FE/feat/#150] 프론트 https로 통일
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/axios.ts
  frontend/src/main.tsx
  frontend/src/pages/AlbumListPage.tsx
  frontend/src/pages/PictureUploadPage.tsx
  frontend/src/pages/SelectStylePage.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/tsconfig.json
  grafana/data/grafana.db
Labels: frontend, fix, feat

#187 [BE/feat/#186]수정완료
  docker-compose.yml
  nginx/nginx.conf
Labels: backend, fix

#189 [FE/feat/#150] https 추가 및 프론트 컨테이너 문제 해결
  docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/src/api/axios.ts
  grafana/data/grafana.db
Labels: frontend, fix, feat

#191 [FE/feat/#150] 프론트 API 세팅
  backend/backend/settings.py
  frontend/src/assets/Vectornote.svg
  frontend/src/assets/VectornoteClicked.svg
  frontend/src/assets/noteClicked.svg
  frontend/src/pages/ChooseStyle.css
  frontend/src/pages/ChooseStylePage.tsx
  frontend/src/pages/PictureUploadPage.tsx
  frontend/src/pages/SelectStylePage.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/src/recoil/UserAtom.ts
  grafana/data/grafana.db
Labels: frontend, fix, feat

#195 requirements.txt추가
  backend/requirements.txt
  grafana/data/grafana.db
  requirements.txt
Labels: bug, backend

#196 [BE/feat/#192] 프로메테우스 테스트용[알람설정전]
  docker-compose.yml
  grafana/data/grafana.db
Labels: bug, backend

#197 [BE/feat/#192] 알람달기전 수정
  grafana/data/grafana.db
  nginx/ssl/localhost.crt
  nginx/ssl/localhost.key
  prometheus/prometheus.yml
Labels: bug, backend

#198 [BE/feat/#192]알림설정 끝
  alertmanager/alertmanager.yml
  backend/backend/settings.py
  docker-compose.yml
  prometheus/alert-rules.yml
  prometheus/prometheus.yml
Labels: backend, feat

#200 [BE/feat/#199] 룰 추가
  prometheus/alert-rules.yml
Labels: backend, feat
